body {
	font-family: 'Niramit', sans-serif;
	background-color: #f67b26;
}

.lead {
	font-size: 30px;
}

p {
	font-size: 25px;
	color: white;
	font-weight: 3px;
}

.logo-container {
	width: 100%;
	justify-content: center;
	display: inline-block;
}

#logo {
	margin: 0 auto;
	display: block;
	width: 80%;
}


.display-4 {
	color: white;
	text-align: center;
}

.col {
	margin: 10px;
}

.left-container {
	border: 3px dotted white;
}

.right-container {
	border: 3px dotted white;
}

#word {
	text-align: center;
	font-size: 38px;
}

#letters, #guesses-left, #wins {
	letter-spacing: 5px;
	color: white;
}

.jumbotron {
	background-color: #f67b26;
	padding-top: 3rem
}

.modal-font {
	color: black;
}